<main>

    <div class="logo-container">
        <img src="/assets/imagenes/logo-menu.png" alt="Logo" class="logo">
    </div>
    @if(errorMessage){
        <div>
        {{errorMessage}}
        </div>
    }

    <form [formGroup]="form">
        <h1>¡Regístrate con los expertos en Pollos!</h1>
            <mat-form-field >
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
            @if (form.get('email') && !form.hasError('required')) {
                <mat-error>Correo inválido</mat-error>
            }

        </mat-form-field>

        <mat-form-field >
            <mat-label>Nombre de Usuario</mat-label>
            <input type="user" matInput placeholder="Usuario" formControlName="user">
            @if (form.get('user') && !form.hasError('required')) {
                <mat-error>Se requiere usuario</mat-error>
            }
        </mat-form-field>


        <mat-form-field >
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña" formControlName="password">
            @if (form.get('password') && !form.hasError('required')) {
                <mat-error>Se requiere contraseña</mat-error>
            }
        </mat-form-field>

        <mat-form-field >
            <mat-label>Confirma tu contraseña</mat-label>
            <input type="password" matInput placeholder="Confirmar Contraseña" formControlName="password2">
            @if (form.get('password') && !form.hasError('mismatch')) {
                <mat-error>Las contraseñas no coinciden</mat-error>
            }
        </mat-form-field>
        

        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="resgister()"  *ngIf="!isRegister">
            Crear Cuenta
        </button>
        <button mat-raised-button color="warn" class="button-loader" *ngIf="isRegister">
            <mat-spinner color="accent" diameter="20"></mat-spinner>
        </button>
        <br>
        <p>¿Ya tienes cuenta? ¡Inicia Sesión!</p>
        <button mat-stroked-button color="warn" (click)="RedSig()">Iniciar Sesión</button>

    </form>

</main>