main{
    background-color: rgb(255, 255, 255);
    font-family: 'Saeada';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px; 
    button,
    mat-form-field{
        width: -webkit-fill-available;
    }

    mat-form-field{
        background-color: transparent;
        margin-bottom: 10px;
    }

    button{
        margin: 5px 0;

        &[mat-button]{
            width: auto;
        }        
    }
    
    .aligned-to-right{
        text-align: right;
        width: 100%;
    }
}

.button-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

h1{
    color: black;
    font-family: 'Saeada';

}

.logo-container {
    text-align: center;
    margin-bottom: 28px;

}

.logo {
    transform: rotate(-5deg);
    width: 150px;
    
}


@media (max-width: 1200px) {
    main {
        padding: 20px; 
    }

    form {
        max-width: 310px; 
    }

    .logo {
        width: 100px; 
    }
}

span{
    color: rgb(197, 197, 197)
}

.error{
    color: red;
}


