<nav>
    <div class="navbar">
        <div class="logo">
            <img src="/assets/imagenes/logo-menu.png" alt="Logo">
        </div>
        <div class="links">
        <a href="#">Inicio</a>
        <a href="#">Menú</a>
        <a href="#">Promociones</a>
        <a href="#">Sucursales</a>
        </div>
        <div class="actions">
            <button mat-raised-button color="warn">Registrarse</button>
            <button mat-raised-button color="warn">Iniciar Sesión</button>
            <button mat-raised-button color="warn">Carritooooo</button>
        </div>
    </div>
</nav>
