
  @media (min-width: 1025px) {
    .h-custom {
    height: auto !important;
    min-height: 100vh !important;
    }
}
form{
    mat-form-field{
        min-height: calc(1.5em + 1rem + calc(var(--bs-border-width)* 2));
        font-size: 1.25rem;
        border-radius: 10%;
        height: 100px;
        width: -webkit-fill-available;
    }

    button{
        font-family: 'Saeada';
        src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
        font-weight: normal;
        font-style: normal;       
    }
    
    .aligned-to-right{
        text-align: right;
        width: 100%;
    }
}

h5,h4,h3,h2,h1,p,label,button{
    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.info h1{
    font-size: larger;
    text-align: center;
}

::placeholder{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.qty{
    width: 50px!important;
}

#pagar{
    background-color: #fff200!important;
}

.navbar {
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 1000;
    font-family: 'Saeada';
    font-size: x-large;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    position: absolute; 
    padding: 10px; 
}
.logo {
    width: 130px; 
    transform: translateY(60%) rotate(-5deg); 
}


.navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    margin: 12px 1vw; 
}

.white-text {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: yellow; 
}

.gracias{
    width: -webkit-fill-available;
}
@media (max-width: 1200px) {
    .navbar {
        font-size:smaller; /* Tamaño de fuente relativo */
        padding: 5px;
    }

    .logo img {
        width: 50px; /* Tamaño de logo relativo */
    }

    .links a {
        margin: 0 1vw; /* Espaciado flexible */
    }

    .actions button {
        font-size: 3vw; /* Tamaño de fuente relativo */
        margin: 5px 1vw; /* Espaciado flexible */
    }
    
}

.mat-mdc-form-field-error {
    display: block;
    color: #ffffff;
}

