<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="/assets/imagenes/logo-menu.png" alt="Logo" class="logo">
      </a>
    <button id=buttoncol class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a id=inicio class="nav-link" href="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a id=menunav class="nav-link" href="/inicio">Menú</a>
        </li>
        <li class="nav-item">
          <a id=bolsa class="nav-link" href="/inicio">Bolsa de Trabajo</a>
        </li>
        <li class="nav-item">
          <a id=sucur class="nav-link" href="/inicio">Sucursales</a>
        </li>
          <li class="nav-item">
            <a id=signin class="nav-link" (click)="logout()" href="#">Cerrar Sesión</a>
          </li>
      </ul>
    </div>
  </div>
  
</nav>



<section class="h-100 h-custom" style="background-color: #eee; margin-top: 130px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="empty" *ngIf="items.length<1&&comprado==false">
              <div class="info">
                  <h1>Sin elementos en el carrito.</h1>
                  <a href="#!" class="text-body"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Regresar</a>
              </div>

            </div>

            <div class="empty" *ngIf="items.length<1&&comprado==true">
              <div class="info">
                  <h1>Gracias por su compra, disfrute su comida</h1>
                  <a href="#!" class="text-body"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Regresar</a>
                    <br>
                  <img class="gracias" src="/assets/imagenes/gracias.jpg" alt="Imagen Gracias">
              </div>

            </div>


            <div class="row" *ngIf="items.length>0">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Regresar</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Carrito</p>
                    <p class="mb-0">Elementos en el carrito: {{items.length}} </p>
                  </div>
                  <div>
                    
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let item of items; let i=index">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img [src]='item.imgUrl' class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{ item.name }}</h5>
                            <p class="small mb-0"></p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <input type="number" class="qty" [value]="item.qty"
                            (change)="qtyChange($event, item.id,item.qty)"> 
                          </div>
                          <div style="width: 80px; padding-left: 30px;">
                            <h5 class="mb-0">${{ item.price }} c/u</h5>
                          </div>
                          <div style="width: 80px; padding-left: 30px;">
                            <h5 class="mb-0">${{ item.price * item.qty}}</h5>
                          </div>
                          <i (click)="onDelete(item.id)"  class="btn btn-outline-danger fas fa-trash-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
              <div class="col-lg-5">

                <div class="card bg-danger text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h2 class="mb-0">Detalles del pedido</h2>
                      <img src="/assets/imagenes/logo-menu.png"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>

                    <form [formGroup]="form">
                        <h4 class="mb-0">Dirección de envío</h4>
                        <mat-form-field>
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="calle" matInput id="CALLE" class="form-control form-control-lg" size="17"
                            placeholder="Calle" formControlName="calle"/>
                        </div>
                        @if (form.get('calle') && !form.hasError('required')) {
                          <mat-error>Se requiere calle.</mat-error>
                      }
                      </mat-form-field>


                      <mat-form-field>
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="colonia" matInput id="COL" class="form-control form-control-lg" size="17"
                          placeholder="Colonia" formControlName="colonia"/>
                      </div>
                      @if (form.get('colonia') && !form.hasError('required')) {
                        <mat-error>Se requiere colonia.</mat-error>
                    }
                    </mat-form-field>

                    <mat-form-field>
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="ciudad" matInput id="CITY" class="form-control form-control-lg" size="17"
                        placeholder="Ciudad" formControlName="ciudad"/>
                    </div>
                    @if (form.get('ciudad') && !form.hasError('required')) {
                      <mat-error>Se requiere ciudad.</mat-error>
                  }
                  </mat-form-field>
                      
                  <mat-form-field>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="cp" matInput id="CP" class="form-control form-control-lg" size="17"
                      placeholder="Código Postal" minlength="5" maxlength="5" pattern="\d{5}" formControlName="cp"/>
                    </div>
                    @if (form.get('cp') && !form.hasError('required')) {
                      <mat-error>Se requiere código postal.</mat-error>
                  }
                    </mat-form-field>
                     

                      <h4 class="mb-0">Detalles de pago</h4>
                      <mat-form-field>
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="nombreP" matInput id="typeName" class="form-control form-control-lg" size="17"
                            placeholder="Nombre del propietario de la tarjeta" formControlName="nombreP"/>
                        </div>
                        @if (form.get('nombreP') && !form.hasError('required')) {
                          <mat-error>Se requiere nombre del propietario de la tarjeta.</mat-error>
                      }
                      </mat-form-field>

                      <mat-form-field> 
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="numT" matInput id="typeText" class="form-control form-control-lg" size="16"
                          placeholder="Número de tarjeta" minlength="16" maxlength="16" formControlName="numT"/>
                      </div>
                      @if (form.get('numT') && !form.hasError('required')) {
                        <mat-error>Se requiere número de la tarjeta.</mat-error>
                    }
                    </mat-form-field>

                    <div class="row mb-4">
                      <div class="col-md-6">
                    <mat-form-field>
                      <div data-mdb-input-init class="form-outline form-white">
                        <input type="exp" matInput id="expirationDate" name="expirationDate" class="form-control form-control-lg"
                          placeholder="MM/AA" size="5" id="expi" minlength="5" maxlength="5" pattern="\d{2}/\d{2}" formControlName="exp"/>
                      </div>
                      @if (form.get('exp') && !form.hasError('required')) {
                        <mat-error>Se requiere fecha de expiración.</mat-error>
                    }
                    </mat-form-field>
                      
                          
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <div data-mdb-input-init class="form-outline form-white">
                            <input type="password" matInput id="CVV" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" pattern="\d{3}" formControlName="cvv"/>
                          </div>
                          @if (form.get('cvv') && !form.hasError('required')) {
                            <mat-error>Se requiere CVV.</mat-error>
                        }
                      </mat-form-field>
                          
                        </div>
                      </div>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">${{total}}</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Envío</p>
                        <p class="mb-2">$50.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total (IVA incluido)</p>
                        <p class="mb-2">${{((total + 50) * 1.16).toFixed(2) }}</p>
                      </div>
  
                      <button (click)="cleananset()" [disabled]="!form.valid" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg" id="pagar">
                        <div class="d-flex justify-content-between">
                          
                          <span>Pagar<i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                      </button>
                    </form>


                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
