
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}

h5{
    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h4{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h3{


    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;


}

h2{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

label{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

button{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

::placeholder{

    font-family: 'Saeada';
    src: url('/assets/fuentes/LTSaeada-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
