<main>
    <form>
        <h1>Inicia Sesión con tu cuenta</h1>
        <mat-form-field >
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>

        <mat-form-field >
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>
        
        <div class="aligned-to-right">
            <button mat-button>Recuperar contraseña</button>
        </div>

        <button mat-raised-button color="primary">Iniciar Sesion</button>
        <button mat-stroked-button color="primary">Registrarse</button>

    </form>
</main>